/* RESET */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}

/* FUNDO */
body {
  background: #82E3AC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #333;
}

/* CABEÇALHOS */
header {
  text-align: center;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid #ffffff40;
}

header h1 {
  font-size: 22px;
  color: white;
  margin-bottom: 6px;
}

header h2 {
  font-size: 20px;
  color: white;
  margin-top: 5px;
}

header nav a {
  color: white;
  margin: 0 8px;
  text-decoration: none;
  font-weight: bold;
}

header nav a.active {
  text-decoration: underline;
}

/* LISTA DE RANKING */
ol {
  list-style: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

ol li {
  background: white;
  padding: 14px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000025;
  font-size: 15px;
  line-height: 22px;
}

ol li strong {
  color: #2d7a50;
  font-weight: bold;
}

/* BOTÃO RECOMPENSA */
ol li button {
  margin-top: 6px;
  background: #3aa765;
  border: none;
  color: white;
  padding: 7px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
  transition: 0.3s;
}

ol li button:hover {
  background: #318f55;
  transform: scale(1.07);
}

/* MENU INFERIOR */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #d9d9d9;
}

footer a {
  font-size: 24px;
  color: #444;
  text-decoration: none;
  transition: .2s;
}

footer a.active {
  transform: scale(1.2);
}

footer a:hover {
  transform: scale(1.2);
}